# ignore temporary files
.*.swp
\#*#
*.pyc
*.o
*.hi
*.dump
*.log
*.rej
*.orig
*.patch
*.diff
.tags*

# ignore executables
/src/mica/test
/src/libhrd/main
/src/herd-hybrid/main
/src/herd-UD/main
src/Armonia/main
/src/CR/cr
/src/hermes/hermes
/src/hades/hades
/src/hermes/hermes-wings

# ignore debug files
/debug/*.txt
# ignore traces
/traces/*.txt
# ignore ide files
/.idea/
/cmake-build-debug/
/src/cmake-build-debug/
/src/.idea/
/src/cache/cmake-build-debug/
/src/cache/.idea/
/src/Armonia/armonia-ec
/src/Armonia/armonia-sc
/src/Armonia/throughput.txt
/src/herd-UD/throughput.txt
/bin/traces
#/results/*
/results/*.txt
/results/xput/*.txt
/results/xput/*.csv
/results/xput/per-node/*.csv
/results/xput/per-node/*.txt
/results/xput/all-nodes/*.txt
/results/latency/*.txt
/results/latency/*.csv
traces/trace-parts/*
/results/scattered-results/*
/results/aggregated-system-results/*.csv
/traces/system-traces/*.txt
/traces/current-splited-traces/*.txt
/traces/*.txt
traces/
./exec/hermesKV
./exec/rCRAQ
./exec/hades
